<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:if value="$(arg simulation)">
    <gazebo>
      <plugin name="anymal_gazebo_ros_control"
        filename="libanymal_gazebo.so">
        <robotNamespace>anymal</robotNamespace> <!-- Currently unused -->
        <robotDescription>anymal_description</robotDescription>
        <robotBaseLink>base</robotBaseLink>
      </plugin>

      <plugin name="gazebo_robot_pose_publisher" filename="libgazebo_ros_p3d.so">
        <alwaysOn>true</alwaysOn>
        <robotNamespace>anymal</robotNamespace>
        <updateRate>400.0</updateRate>
        <bodyName>base</bodyName>
        <topicName>pose_in_sim_world</topicName>
        <gaussianNoise>0</gaussianNoise>
        <frameName>world</frameName>
        <xyzOffsets>0 0 0</xyzOffsets>
        <rpyOffsets>0 0 0</rpyOffsets>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>
