<?xml version="1.0"?>

<!-- This file contains the description of the ANYmal robot. -->

<robot name="anymal" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Public common arguments. Note: some defaults change between generations. -->
  <xacro:arg name="custom_payload_description"      default=""/>
  <xacro:arg name="depth_camera_front_lower_pitch"  default="60.0"/>
  <xacro:arg name="depth_camera_front_lower_roll"   default="0.0"/>
  <xacro:arg name="depth_camera_front_upper_pitch"  default="15.0"/>
  <xacro:arg name="depth_camera_front_upper_roll"   default="0.0"/>
  <xacro:arg name="depth_camera_left_pitch"         default="42.0"/>
  <xacro:arg name="depth_camera_left_roll"          default="0.0"/>
  <xacro:arg name="depth_camera_rear_lower_pitch"   default="60.0"/>
  <xacro:arg name="depth_camera_rear_lower_roll"    default="0.0"/>
  <xacro:arg name="depth_camera_rear_upper_pitch"   default="15.0"/>
  <xacro:arg name="depth_camera_rear_upper_roll"    default="0.0"/>
  <xacro:arg name="depth_camera_right_pitch"        default="42.0"/>
  <xacro:arg name="depth_camera_right_roll"         default="0.0"/>
  <xacro:arg name="depth_camera_resolution_height"  default="240"/>
  <xacro:arg name="depth_camera_resolution_width"   default="424"/>
  <xacro:arg name="enable_custom_payload"           default="false"/>
  <xacro:arg name="enable_inspection_payload"       default="false"/>
  <xacro:arg name="fix_base"                        default="false"/>
  <xacro:arg name="gpu_lidar"                       default="false"/>
  <xacro:arg name="inspection_payload_version"      default="P-PTU-VTAL-D"/>
  <xacro:arg name="perfect_sensors"                 default="true"/>
  <xacro:arg name="simulate_depth_camera"           default="false"/>
  <xacro:arg name="simulate_lidar"                  default="false"/>
  <xacro:arg name="simulate_thermal_camera"         default="false"/>
  <xacro:arg name="simulate_wide_angle_camera"      default="false"/>
  <xacro:arg name="simulate_zoom_camera"            default="false"/>
  <xacro:arg name="simulation"                      default="false"/>
  <xacro:arg name="version"                         default="d010"/>

  <!-- Hidden common arguments -->
  <xacro:arg name="bagfile_is_played"               default="false"/>
  <xacro:arg name="depth_camera_frequency"          default="15.0"/>
  <xacro:arg name="lidar_frequency"                 default="10.0"/>

  <!-- Public generation-specific arguments -->
  <xacro:arg name="docking_socket"                  default="false"/>
  <xacro:arg name="foot_version"                    default="3_6_3"/>

  <!-- Hidden generation-specific arguments -->
  <xacro:arg name="enable_manipulation_payload"     default="false"/>

  <!-- Includes -->
  <!-- describes mesh scale factor and contact model parameters-->
  <xacro:include filename="$(find anymal_d)/urdf/include/utils.urdf.xacro"/>
  <!-- describes gazebo plugin if simulation argument is true-->
  <xacro:include filename="$(find anymal_d)/urdf/include/plugin.gazebo.xacro"/>

  <xacro:property name="inspection_payload_version_" value="$(arg inspection_payload_version)"/>
  <xacro:property name="version_" value="$(arg version)"/>

  <!-- Base -->
  <!-- describes base link (including base intertia dummy link) and integrated sensors-->
  <xacro:include filename="$(find anymal_d)/urdf/base/base_3_6_0_macro.urdf.xacro"/>
  <xacro:base fix_base="$(arg fix_base)"
              bagfile_is_played="$(arg bagfile_is_played)"
              simulate_depth_camera="$(arg simulate_depth_camera)"
              simulate_lidar="$(arg simulate_lidar)"
              simulate_wide_angle_camera="$(arg simulate_wide_angle_camera)"
              gpu_lidar="$(arg gpu_lidar)"
              depth_camera_frequency="$(arg depth_camera_frequency)"
              depth_camera_resolution_width="$(arg depth_camera_resolution_width)"
              depth_camera_resolution_height="$(arg depth_camera_resolution_height)"
              lidar_frequency="$(arg lidar_frequency)"
              depth_camera_front_upper_roll="$(arg depth_camera_front_upper_roll)"
              depth_camera_front_upper_pitch="$(arg depth_camera_front_upper_pitch)"
              depth_camera_front_lower_roll="$(arg depth_camera_front_lower_roll)"
              depth_camera_front_lower_pitch="$(arg depth_camera_front_lower_pitch)"
              depth_camera_rear_upper_roll="$(arg depth_camera_rear_upper_roll)"
              depth_camera_rear_upper_pitch="$(arg depth_camera_rear_upper_pitch)"
              depth_camera_rear_lower_roll="$(arg depth_camera_rear_lower_roll)"
              depth_camera_rear_lower_pitch="$(arg depth_camera_rear_lower_pitch)"
              depth_camera_left_roll="$(arg depth_camera_left_roll)"
              depth_camera_left_pitch="$(arg depth_camera_left_pitch)"
              depth_camera_right_roll="$(arg depth_camera_right_roll)"
              depth_camera_right_pitch="$(arg depth_camera_right_pitch)"
              docking_socket="$(arg docking_socket)"/>

  <!-- Legs -->
  <xacro:include filename="$(find anymal_d)/urdf/leg/leg_3_6_0_macro.urdf.xacro"/>

  <xacro:leg leg="LF" foot_version="$(arg foot_version)"/>
  <xacro:leg leg="RF" foot_version="$(arg foot_version)"/>
  <xacro:leg leg="LH" foot_version="$(arg foot_version)"/>
  <xacro:leg leg="RH" foot_version="$(arg foot_version)"/>

  <!-- Custom payload -->
  <xacro:if value="$(arg enable_custom_payload)">
    <xacro:include filename="$(arg custom_payload_description)"/>
    <xacro:custom_payload parent="base" />
  </xacro:if>

  <!-- Inspection payload -->
  <!-- describes inspection payload (pantilt head version 3)-->
  <xacro:if value="$(arg enable_inspection_payload)">
    <xacro:include filename="$(find inspection_payload_description)/urdf/inspection_payload_3.6.urdf.xacro"/>
    <xacro:inspection_payload name="inspection_payload" parent="base" version="${inspection_payload_version_}">
      <origin xyz="0.14253 0.0 0.092" rpy="0 0 0"/>
    </xacro:inspection_payload>
  </xacro:if>

  <xacro:unless value="$(arg enable_inspection_payload)">
    <!-- Load manipulation payload -->
    <xacro:if value="$(arg enable_manipulation_payload)">
      <xacro:include filename="$(find manipulator_6dof_description)/urdf/hdt_arm.xacro"/>
      <xacro:arm name="manipulation_payload" parent="base" simulation="$(arg simulation)">
        <origin xyz="0.14253 0.0 0.092" rpy="0 0 0"/>
      </xacro:arm>
    </xacro:if>
    <!-- Load cover if no payload is mounted-->
    <xacro:unless value="$(arg enable_manipulation_payload)">
      <xacro:include filename="$(find anymal_d)/urdf/base/shell/hatch_shell_3_6_0_macro.urdf.xacro"/>
      <xacro:hatch_shell/>
    </xacro:unless>
  </xacro:unless>

</robot>
